.form-service {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-error {
  position: relative;
}

.input-error select {
  width: 100%;
  padding: 12px;
  padding-left: 40px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  /* background-color: transparent; */
  background-color: #f9f9f9;
  /* flex: 1;
  padding: 0.5rem;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: transparent;
  width: 80%; */
}

.input-error-location {
  position: relative;
}

.input-error-location input {
  width: 89%;
  padding: 13px 15px;
  padding-left: 40px; /* Space for the icon */
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
  font-size: 16px;
  background-color: #f9f9f9;
}

input[type="date-time"] {
  width: 89%;
  padding: 13px 15px;
  padding-left: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
  font-size: 14px;
  background-color: #f9f9f9;
  /* margin-bottom: 10px; */
}

.input-error-comment textarea {
  width: 89%;
  padding: 10px 15px;
  padding-left: 40px; /* Space for the icon */
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
  font-size: 16px;
  background-color: #f9f9f9;
  font-family: sans-serif;
}

.input-error-comment .icon {
  position: absolute;
  left: 41px;
  top: 68%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #888;
}

.input-error-location .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #888;
}

.input-error select:focus,
.input-error input:focus,
.input-error textarea:focus {
  border-color: #007bff;
}

.input-error .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #888;
}

textarea {
  min-height: 100px;
  resize: none;
}

.modelbutton {
  display: flex;
  justify-content: space-between;
}

.btn-editmodel,
.btn-closemodel {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.btn-editmodel {
  background-color: #007bff;
  color: white;
}

.btn-editmodel:hover {
  background-color: #0056b3;
}

.btn-closemodel {
  background-color: #f44336;
  color: white;
}

.btn-closemodel:hover {
  background-color: #d32f2f;
}

.top-search {
  display: flex;
  align-items: center;
  gap: 10px;
}
.css-1kmkvia {
  width: 260px !important;
}

.member-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -25px;
  margin-bottom: -25px;
}

.close-completedCountData {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 15px;
}

.btn-closemodel-service {
  padding: 4px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  background-color: #f44336;
  color: white;
}

.completedCountData {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.completed-count {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -22px;
  margin-bottom: -22px;
}
/* .form-count-towing {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -23px;
  margin-bottom: -23px;
} */

.towing-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -22px;
  margin-bottom: -22px;
}