/* Container for the entire page */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f4f7;
    
}

/* Main container for left and right columns */
.login-container {
    display: flex;
    width: 80%;
    height: 70vh;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Left side for image and title */
.login-left {
    width: 50%;
    background-color: #e6f4ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
}

.login-left h2 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.image-grid {
    position: relative;
}

.main-image {
    width: 100%;
    /* border-radius: 50%; */
    margin-bottom: 1rem;
}

.hexagon-images {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.hex-image {
    width: 60px;
    height: 60px;
    border-radius: 10%;
    object-fit: cover;
}

/* Right side for the login form */
.login-right {
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-login {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 1rem;
}

.heading {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #333;
}

.input {
    padding: 1rem;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #444;
}

.input::placeholder {
    color: #999;
}

.input.error {
    border-color: red;
}

.btn {
    background-color: #47c2ff;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0b58cb;
}

.link-wrapper {
    text-align: right;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.link-wrapper a {
    color: #007bff;
    text-decoration: none;
}

.link-wrapper a:hover {
    text-decoration: underline;
}
